@page
@model Panacea_GroupProject.Pages.UsersPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Role.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.IsDelete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserProfile.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
