@page
@model Panacea_GroupProject.Pages.Auctions.MyAuctionsModel

@using BusinessObjects
@using Panacea_GroupProject.Helpers
@{
}


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Upcoming Auctions</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

    <style>
        .auction-page {
            padding: 50px 0;
        }

        .auction-header {
            text-align: center;
            margin-bottom: 50px;
        }

            .auction-header h1 {
                font-size: 36px;
                font-weight: bold;
            }

        .auction-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }

            .auction-content .auction-current h2 {
                text-align: center;
            }

        .auction-image {
            flex: 1;
            max-width: 500px;
        }

            .auction-image img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }

        .auction-details {
            flex: 1;
            max-width: 500px;
        }

            .auction-details h2 {
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .auction-details p {
                font-size: 16px;
                margin-bottom: 20px;
            }

        .countdown {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
        }

            .countdown div {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }

                .countdown div span {
                    display: block;
                    font-size: 14px;
                    font-weight: normal;
                }

        .auction-buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

            .auction-buttons a {
                display: inline-block;
                padding: 10px 20px;
                font-size: 16px;
                border: 2px solid #000;
                border-radius: 30px;
                text-decoration: none;
                color: #000;
                transition: background-color 0.3s, color 0.3s;
            }

                .auction-buttons a:hover {
                    background-color: #FFFF00;
                    color: #fff;
                }

        .search-section {
            background-color: #f9f9f9;
            padding: 20px 0;
        }



        .search-box {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .search-form {
            display: flex;
            flex: 1;
            padding: 0;
        }

        .search-input {
            flex: 1;
            padding: 10px;
            border: none;
            outline: none;
            font-size: 16px;
            border-radius: 0;
        }

        .search-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            cursor: pointer;
            border-radius: 0 5px 5px 0;
            transition: background-color 0.3s;
        }
    </style>
</head>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/Template">
                        <img src="~/images/logo.png" alt="">
                        <span>
                            Lodge
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/Template">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Template/About">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/Template/Jewellery" id="jewelry-link" role="button" aria-haspopup="true" aria-expanded="false">
                                        Jewellery
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="jewelry-link">
                                        @if (Model.LoggedInUser.RoleId.Equals(5))
                                        {
                                            <a class="dropdown-item" href="/JewelryPage/Create">Create Jewelry</a>
                                        }
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/Template/Auctions" id="auction-link" role="button" aria-haspopup="true" aria-expanded="false">
                                        Auction
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="auction-link">
                                        @* <a class="dropdown-item" href="/upcoming-auctions">Upcoming Auctions</a> *@
                                        <a class="dropdown-item" href="/AuctionRequestPage/Create">Auctions Request</a>
                                        @if (Model.LoggedInUser.RoleId.Equals(4))
                                        {
                                            <a class="dropdown-item" href="/AuctionRequestPage/RequestApproval">Staff Request Approval</a>
                                        }
                                        @if (Model.LoggedInUser.RoleId.Equals(3))
                                        {
                                            <a class="dropdown-item" href="/Auctions/MyAuctions">My Auctions</a>
                                        }
                                        @if (Model.LoggedInUser.RoleId.Equals(5))
                                        {
                                            <a class="dropdown-item" href="/Auctions/Create">Create Auction</a>
                                        }
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Template/Contact">Contact us</a>
                                </li>
                                @if (Model.LoggedInUser.Name != null)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Hi, @Model.LoggedInUser.Name
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/Template/MyProfile">Profile</a>
                                            @if (Model.LoggedInUser.RoleId.Equals(3))
                                            {
                                                <a class="dropdown-item" href="/Invoices/MyInvoice">My Invoices</a>
                                            }
                                            @if (Model.LoggedInUser.RoleId.Equals(4))
                                            {
                                                <a class="dropdown-item" href="/Invoices/SeeAllInvoice">See all invoice</a>
                                            }
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/Accounts/Logout">Logout</a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Accounts/Login">Login</a>
                                    </li>
                                }
                            </ul>
                        </div>

                        @* <div class="quote_btn-container">
                        <form class="form-inline search-form" method="get" action="/search">
                        <input class="form-control mr-sm-2 d-none" type="search" placeholder="Search" aria-label="Search" name="query">
                        </form>
                        <button class="btn my-2 my-sm-0 nav_search-btn" type="button"></button>
                        </div> *@
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <section class="search-section">
        <div class="container">
            <div class="search-box">
                <form method="get" asp-page-handler="Search" class="search-form">
                    <input type="text" name="SearchQuery" class="search-input" placeholder="Search auctions..." value="@Model.SearchQuery" />
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
        </div>
    </section>



    <section class="price_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    My Auction
                </h2>
            </div>
            <div class="price_container">
                @foreach (var auction in Model.Auctions)
                {
                    <div class="box">
                        <div class="name">
                            <h6>
                                @auction.Auction.Jewelry.Name
                            </h6>
                        </div>
                        <div class="img-box">
                            <img src="~/images/p-1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <span>@auction.Auction.StartDate</span>
                            <span>@auction.Auction.Status</span><br />
                            <h5>
                                Starting price: <span>@auction.Auction.Price</span>
                            </h5>
                            <div class="auction-buttons">
                                <a href="/Auctions/BidPrice?id=@auction.Auction.Id">View Details</a>
                            </div>
                        </div>
                    </div>
                }
    </section>




    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <div class="info_container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info_logo">
                            <a href="">
                                <img src="~/images/logo.png" alt="">
                                <span>
                                    Lodge
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_contact">
                            <a href="">
                                <img src="~/images/location.png" alt="">
                                <span>
                                    Address
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_contact">
                            <a href="">
                                <img src="~/images/phone.png" alt="">
                                <span>
                                    +01 1234567890
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_contact">
                            <a href="">
                                <img src="~/images/mail.png" alt="">
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="info_form">
                    <div class="d-flex justify-content-center">
                        <h5 class="info_heading">
                            Newsletter
                        </h5>
                    </div>
                    <form action="">
                        <div class="email_box">
                            <label for="email2">Enter Your Email</label>
                            <input type="text" id="email2">
                        </div>
                        <div>
                            <button>
                                subscribe
                            </button>
                        </div>
                    </form>
                </div>
                <div class="info_social">
                    <div class="d-flex justify-content-center">
                        <h5 class="info_heading">
                            Follow Us
                        </h5>
                    </div>
                    <div class="social_box">
                        <a href="">
                            <img src="~/images/fb.png" alt="">
                        </a>
                        <a href="">
                            <img src="~/images/twitter.png" alt="">
                        </a>
                        <a href="">
                            <img src="~/images/linkedin.png" alt="">
                        </a>
                        <a href="">
                            <img src="~/images/insta.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            &copy; 2024 All Rights Reserved. Panacea Group
            @* <a href="https://html.design/">Free Html Templates</a> *@
        </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>
