@page
@model Panacea_GroupProject.Pages.Invoices.ViewInvoiceModel

@{
    ViewData["Title"] = "ViewInvoice";
}

<h1>ViewInvoice</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Auction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].IsDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invoice) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Auction.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
